<config>
  <!-- Set with your user, passkey, team-->
  <user value="USERNAME_HERE"/>
  <passkey value="PASSKEY_HERE"/>
  <team value="TEAM_NUMBER_HERE"/>

  <power value="medium"/>
  <exit-when-done v='false'/>

  <web-enable v='true'/>
  <disable-viz v='false'/>
  <gui-enabled v='true'/>

  <!-- 1 slots for GPUs -->
  <slot id='0' type='GPU'> </slot>

  <!-- 16-1 = 15 = 3*5 for decomposition -->
  <slot id='1' type='SMP'> <cpus v='7'/> </slot>

</config>