[Unit]
Description=Socat IP Forwarding for Waydroid
After=network.target

[Service]
ExecStart=/run/current-system/sw/bin/socat tcp-listen:5555,fork,reuseaddr tcp:192.168.240.112:5555
Restart=always

[Install]
WantedBy=multi-user.target